img{
	vertical-align: bottom;
}
#banner .title{
	width: 100%;
	background: rgba(0,0,0,.3);
	position: absolute;
	bottom: 0;
	color: #fff;
	line-height: 0.5rem;
	font-family: PingFang-SC Medium;
	font-size: 0.3rem;
	text-indent: 1em;
}
.enterbar{
	width: 100%;
	padding: 0.4rem 0;
	background: #fff;
	overflow: hidden;
}
.enterbar li{
	width: 25%;
	float: left;
	text-align: center;
	font-family: PingFangSC-Regular;
	font-size: 0.24rem;
	color: #333;
}
.enterbar li img{
	height: 0.68rem;
}
.enterbar li p{
	margin-top: 0.1rem;
}
.weui-panel__hd{
	font-family: PingFangSC-Medium;
	font-size: 0.34rem;
	color: #333;
}
